* {box-sizing: border-box;}
body{
  font-family:'Pangolin', cursive; sans-serif;
  padding: 0;
  margin: 0;
}
.clearfix:after {
  content: '';
  display: table;
  width: 100%;
  clear: both;
}
header{
  background: url('../img/bg.png') no-repeat center top / cover;
  padding-bottom: 160px;
}
header a {
  text-decoration: none;
  outline: none;
  display: block;
  transition: .3s ease-in-out;
}
.container{
  width: 930px;
  margin: 0 auto;
}
.logo{
  margin-top: 50px;
  float: left;
}
nav{
  display: table;
  float: right;
  margin-top: 50px;
}
nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu{
  border: red;
}
.menu > li{
  width: 140px;
 float: left;
 position: relative;
}
.menu > li > a{
  text-transform: uppercase;
   font-size: 14px;
   font-weight: bold;
   color: white;
   padding: 10px 25px;
}
.menu > li:hover > a, .submenu li:hover a {color: #D5B45B;}
.submenu-link:after {
  color: inherit;
  margin-left: 0px;
}
.submenu {
  background: #273037;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 5;
  width: 130px;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: .5s ease-in-out;
}
.submenu a {
  color: white;
  text-align: left;
  padding: 12px 15px;
  font-size: 13px;
  border-bottom: 1px solid rgba(255,255,255,.1);
}
.submenu li:last-child a {border-bottom: none;}
.menu > li:hover .submenu {
  opacity: 1;
  transform: scaleY(1);
}
.titles-first{
  font-size: 40px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin-top: 180px;
}
h1{
  font-size: 50px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin: 15px;
}
.wrap:hover .button {
  background: #fed136;
  -webkit-transform: scale(1.5);
  -ms-ransform: scale(1.5);
  transform: scale(1.5);
}
.button{
  background: #fed136;
  transition: .5s;
  border-radius: 3px;
  display: block;
  width: 240px;
  padding: 20px 0;
  margin: 0 auto;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  margin-top: 50px;
}
.title{
padding-top: 115px;
}
.title h2{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}
.title p {
color: #777777;
text-align: center;
font-size: 16px;
margin-top: 5;
 }
 .services{
 margin-top: 50px;
 }
.services_item{
  width: 270px;
  float: left;
  text-align: center;
}
.services_item h3{
font-size: 18px;
margin-bottom: 5px;
}
.services_item p{
color: #777777;
font-size: 14px;
line-height: 1.55em;
}
.services_item:last-child{
  float: right;
}
.services_item:nth-child(2) {
  margin-left: 60px;
}
#services{
  padding-bottom: 120px;
}
#portfolio{
  background: #f7f7f7;
  padding-bottom: 120px;
}
.works{
  margin-top: 70px;
}
.works img{
  float: left;
}
.works img:nth-child(2) {
  margin-left: 29px;
}
.works img:last-child{
  float: right;
}
#pick{
  background:white;
}
.about_item{
  margin-top: 70px;
}

.title h2{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}
.title p {
color: #777777;
text-align: center;
font-size: 16px;
margin-top: 5;
 }
.about_item{
  float: left;
  text-align: center;
}
.about_item img{
  display:inline;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 40px
}
.one{
  padding-top: 50px;
  width: 140px;
  float: left;
  text-align: center;
  }
  .two{
    padding-left: 50px;
    width: 140px;
    float: left;
    text-align: right;
  }
  .button:hover{
    background-color: red;
  }
